<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mnu.mapper.BoardMapper">

    <select id="getListWithPaging" resultType="org.mnu.domain.BoardVO">
        <![CDATA[
        SELECT POST_ID as bno, title, content, USER_ID as writer, CREATED_AT as regdate, VIEWS as viewcnt
        FROM BOARD
        ORDER BY POST_ID DESC
        OFFSET #{pageStart} ROWS FETCH NEXT #{perPageNum} ROWS ONLY
        ]]>
        </select>

    <select id="getTotalCount" resultType="int">
        <![CDATA[
        SELECT count(*) FROM BOARD WHERE POST_ID > 0
        ]]>
    </select>

    <insert id="insert">
        <selectKey keyProperty="bno" order="BEFORE" resultType="long">
            select SEQ_BOARD.nextval from dual
        </selectKey>
        INSERT INTO BOARD (POST_ID, title, content, USER_ID)
        VALUES (#{bno}, #{title}, #{content}, #{writer})
    </insert>

    <select id="read" resultType="org.mnu.domain.BoardVO">
        SELECT POST_ID as bno, title, content, USER_ID as writer, CREATED_AT as regdate, VIEWS as viewcnt
        FROM BOARD 
        WHERE POST_ID = #{bno}
    </select>

    <delete id="delete">
        DELETE FROM BOARD WHERE POST_ID = #{bno}
    </delete>

    <update id="update">
        UPDATE BOARD
        SET title = #{title},
            content = #{content},
            USER_ID = #{writer},
            updateDate = SYSDATE
        WHERE POST_ID = #{bno}
        </update>

    <update id="updateViewCnt">
        UPDATE BOARD SET VIEWS = VIEWS + 1 WHERE POST_ID = #{bno}
    </update>

</mapper>