<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.mnu.mapper.MemberMapper">

    <insert id="insertMember">
        INSERT INTO USER_INFO (USER_ID, PASSWORD, NAME, NICKNAME, EMAIL, PHONE, FAV_TEAM_ID)
        VALUES (#{userId}, #{userPw}, #{userName}, #{nickName}, #{email}, #{phone}, #{favTeamId})
    </insert>

    <select id="read" resultType="org.mnu.domain.MemberVO">
        SELECT 
            USER_ID as userId, PASSWORD as userPw, NAME as userName, NICKNAME as nickName, 
            EMAIL, PHONE, FAV_TEAM_ID as favTeamId,
            AUTH  FROM USER_INFO 
        WHERE USER_ID = #{userId}
    </select>
    
    <select id="login" resultType="org.mnu.domain.MemberVO">
        SELECT 
            USER_ID as userId, PASSWORD as userPw, NAME as userName, NICKNAME as nickName, 
            EMAIL, PHONE, FAV_TEAM_ID as favTeamId,
            AUTH  FROM USER_INFO 
        WHERE USER_ID = #{userId} AND PASSWORD = #{userPw}
    </select>

    <update id="updateMember">
        UPDATE USER_INFO
        SET PASSWORD = #{userPw},
            NAME = #{userName},
            NICKNAME = #{nickName},
            EMAIL = #{email},
            PHONE = #{phone},
            FAV_TEAM_ID = #{favTeamId}
        WHERE USER_ID = #{userId}
    </update>

    <delete id="deleteMember">
        DELETE FROM USER_INFO
        WHERE USER_ID = #{userId} AND PASSWORD = #{userPw}
    </delete>

    <insert id="insertWithdrawal">
        INSERT INTO WITHDRAWAL_HISTORY (USER_ID, REASON)
        VALUES (#{userId}, #{reason})
    </insert>

    <select id="checkRejoinRestriction" resultType="int">
        SELECT COUNT(*) 
        FROM WITHDRAWAL_HISTORY 
        WHERE USER_ID = #{userId} 
          AND WITHDRAWAL_DATE > SYSDATE - 90
    </select>

</mapper>